apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-deployment
  labels:
    app: orders 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders
  template:
    metadata:
      labels:
        app: orders
    spec:
      containers:
        - name: orders
          imagePullPolicy: Never
          image: zaidshaikh2811/orders:latest
          ports:
            - containerPort: 3001
          env:
            - name : NATS_CLUSTER_ID
              value: ticketing
            - name : NATS_CLIENT_ID
              value: orders-srv
            - name : NATS_URL
              value: nats://nats-service:4222  
            - name: MONGO_URI
              value: mongodb://orders-mongo-srv:27017/ordersdb
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY    

---
apiVersion: v1
kind: Service
metadata:
  name: orders-srv
spec:
  selector:
    app: orders
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001