apiVersion: apps/v1
kind: Deployment
metadata:
  name: tickets-deployment
  labels:
    app: tickets
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tickets
  template:
    metadata:
      labels:
        app: tickets
    spec:
      containers:
        - name: tickets
          imagePullPolicy: Never
          image: zaidshaikh2811/tickets:latest
          ports:
            - containerPort: 3001
          env:
            - name: MONGO_URI
              value: mongodb://tickets-mongo-srv:27017/ticketsdb
            - name: JWT_KEY
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_KEY   
            - name: NATS_CLUSTER_ID
              value: ticketing
            - name: NATS_CLIENT_ID
              value: tickets-client
            - name: NATS_URL
              value: nats://nats-service:4222    

---
apiVersion: v1
kind: Service
metadata:
  name: tickets-srv
spec:
  selector:
    app: tickets
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001